<h1>Listing Diagnostic Codes</h1>

<table class="datatable">
  <thead>
    <tr>
      <th>Description</th>
      <th>Code</th>
      <th>Price</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostic_codes.each do |diagnostic_code| %>
      <tr>
        <td><%= diagnostic_code.description %></td>
        <td><%= diagnostic_code.code %></td>
        <td><%= number_to_currency diagnostic_code.price %></td>
        <td><%= link_to 'Edit', edit_diagnostic_code_path(diagnostic_code) %></td>
        <td><%= link_to 'Destroy', diagnostic_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnostic code', new_diagnostic_code_path %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datatable').DataTable({
      // ajax: ...,
      // autoWidth: false,
      // pagingType: 'full_numbers',
      // processing: true,
      // serverSide: true,

      // Optional, if you want full pagination controls.
      // Check dataTables documentation to learn more about available options.
      // http://datatables.net/reference/option/pagingType
    });
  });
</script>