<p id="notice"><%= notice %></p>

<p>
  <strong>Physician:</strong>
  <%= @physician.physician_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @physician.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @physician.last_name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @physician.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @physician.gender %>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
